<app-nav></app-nav>


<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

        
            <div class="row g-3">
             
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3" *ngFor="let i of products">

                    <div class="card">
                        <img height="180px" src="https://www.google.com/imgres?imgurl=http" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Product Code :{{i.productcode}} </h5>
                        <p class="card-text">ProductName:{{i.productname}}</p>
                        <p class="card-text">Manufacture Date : {{i.mandate}}</p>
                        <p class="card-text">Expire Date:{{i.expdate}}</p>
                        <p class="card-text">Brand:{{i.brand}}</p>
                        <p class="card-text">Price:{{i.price}}</p>
                        <p class="card-text">Sellername:{{i.sellername}}</p>
                        <p class="card-text">DistributerName:{{i.distributername}}</p>
                     


                        </div>
                    </div>

                </div>
                
           

                
            </div>
            </div>

        </div>
    </div>


 
