
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3" *ngFor="let i of product ">
                        
                        <div class="card">
                            <h5 class="card-title">{{i.id}}</h5>
                            <h5 class="card-title">{{i.itle}}</h5>
                            <p class="card-text">{{i.price}}</p>
                            <p class="card-text">{{i.description}}</p>
                            <p class="card-text">{{i.category}}</p>
                            <img height="300" src="{{i.image}}"><div class="card-body">
                              
                           
                              
                              
                              <button class="btn btn-success">Buy</button>
                            </div>
                          </div>

                    </div>


                    </div>
                   
                    </div>
 
